:root {
    --present: rgb(218, 218, 139);
    --past: rgb(205, 80, 80);
    --future: rgb(108, 182, 108);
}

* {
    box-sizing: border-box;
    font-size: 16px;
    color: white;
}

body {
    width:100%;
    background-color: slategray;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}
header p {
    font-size: 1.5rem;
    padding: 2rem;
 }

#current-date {
    text-align: center;
    width: 100%;    
}

#save-message {
    text-align: center;
    border-bottom: 10px solid black;
    width: 100%;
}

#planner {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
 }

.rows {
    display: flex;
    flex-direction: row;
 }

.days {
    padding: 5rem;
    border-top: 3px dotted white;
 }



.input {
    
    background-color: var(--past);
    width: 100%;
    border-top: 3px solid slategray;
    padding:5rem
}

/*#input1 {
    background: var(--past);
    background-clip: padding-box;
    padding: 5.1rem;
}

#input2 {
    background: var(--past);
    background-clip: padding-box;
    padding: 5.1rem;
}*/

.buttons {
    border-top: 3px solid slategray;
}

#button1 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button2 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button3 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button4 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button5 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button6 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button7 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button8 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }

 #button9 {
    border-radius: 1rem;
    background-color: blue;
    color: white;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
 }